footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
    color: #fff;
    position: relative;
    left:0;
    bottom:0;
    right:0;
  }
  
  .footer-section {
    margin: auto;
    text-align: left;
  }
  
  .footer-section h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .footer-section p {
    margin: 0;
  }
  @media (max-width: 600px){
    footer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: black;
        color: #fff;
        position: relative;
        left:0;
        bottom:0;
        right:0;
      }
      
      .footer-section {
        margin: 5px;
        text-align: left;
      }
      
      .footer-section h3 {
        font-size: 12px;
        margin-bottom: 10px;
      }
      
      .footer-section p {
        margin: 0;
        font-size: 10px;
      }
  }
  