.carousel-container{
    max-width:400px;
    max-height: 400px;
    overflow:hidden;
    display: flex;
}
/* itemDetail.css */

/* Reset and General Styles */
  
  /* Header Styles */
  h2 {
    margin-bottom: 1rem;
  }
  /* Main Container Styles */
  .item-detail-container {
    display: flex;
    max-width: 800px; /* Adjust the maximum width of the entire container */
    margin: 0 auto;
  }
  .left-column{
    flex:1;
    padding-right: 1rem;
  }
  .right-column {
    flex: 1; /* Occupy the right column */
  }
  .description-container p {
    /* margin-bottom: 0.5rem; */
    display: inline-block;
    margin-right: 1rem;
  }
  /* Container Styles */
  .description-container {
    background-color: #f4f4f4;
    padding: 1rem;
    border-radius: 8px;
    margin-top: 1rem;
    flex-grow:1;
  }
  
  /* Description Styles */
  .description-container p {
    margin-bottom: 0.5rem;
  }
  
  /* Price Styles */
  .price  {
    color: #4CAF50; /* Green color for the price */
    font-weight: bold;
  }
  
  /* Loading Styles */
  .loading {
    text-align: center;
    padding: 2rem;
    font-size: 1.2rem;
  }
  @media (max-width: 600px) {
    .item-detail-container {
      flex-direction: column; /* Change to column layout on mobile */
    }
    .description-container {
      background-color: #f4f4f4;
      
      border-radius: 8px;
      flex-grow:1;
    }
    .left-column {
      padding:0px;
      order: -1; /* Move the description-container below the carousel on mobile */
    }
  }