.nav-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* min-height: 70vh; */
    text-align: center;
  }
  .react-grid-container {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 767px) {
    .nav-container {
        padding: 10px; /* Add some padding to the container on mobile */
    }

    .react-grid-container {
        width: 100%; /* Make the grid take full width on mobile */
        justify-content: left;
    }
    
}